{{- $eventStatus := printf "https://schema.org/%s" (or .Params.eventStatus "EventScheduled") -}}
{{- $attendanceMode := printf "https://schema.org/%s" (or .Params.attendanceMode "OfflineEventAttendanceMode") -}}
{{- $dateOnly := .Date.Format "2006-01-02" -}}
{{- $startDate := $dateOnly -}}
{{- with .Params.startTime -}}{{- $startDate = printf "%sT%s" $dateOnly . -}}{{- end -}}
{{- $endDate := "" -}}
{{- with .Params.endTime -}}{{- $endDate = printf "%sT%s" $dateOnly . -}}{{- end -}}

{{- $event := dict
  "@context" "https://schema.org"
  "@type" "Event"
  "name" .Title
  "startDate" $startDate
  "eventStatus" $eventStatus
  "eventAttendanceMode" $attendanceMode
  "url" .Permalink
  "organizer" (dict
    "@type" "Organization"
    "name" .Site.Title
    "url" (.Site.BaseURL | strings.TrimRight "/")
  )
-}}
{{- with .Description -}}
  {{- $event = merge $event (dict "description" .) -}}
{{- end -}}
{{- if $endDate -}}
  {{- $event = merge $event (dict "endDate" $endDate) -}}
{{- end -}}
{{- with .Params.location -}}
  {{- $address := dict "@type" "PostalAddress" "addressLocality" "Ashford" "addressRegion" "Surrey" "addressCountry" "GB" -}}
  {{- with $.Params.address -}}
    {{- $address = merge $address (dict "streetAddress" .) -}}
  {{- end -}}
  {{- $event = merge $event (dict "location" (dict "@type" "Place" "name" . "address" $address)) -}}
{{- end -}}
{{- with .Params.image -}}
  {{- $imgUrl := partial "image.html" (dict "src" . "urlOnly" true) | strings.TrimSpace | absURL -}}
  {{- $event = merge $event (dict "image" $imgUrl) -}}
{{- end -}}
<script type="application/ld+json">{{ $event | jsonify | safeJS }}</script>
