{{- $sameAs := slice -}}
{{- with .Site.Params.facebook }}{{- $sameAs = $sameAs | append . -}}{{- end -}}
{{- with .Site.Params.twitter }}{{- $sameAs = $sameAs | append . -}}{{- end -}}
{{- with .Site.Params.instagram }}{{- $sameAs = $sameAs | append . -}}{{- end -}}

{{- $org := dict
  "@context" "https://schema.org"
  "@id" (print .Site.BaseURL "#organization")
  "@type" "Organization"
  "additionalType" "https://www.wikidata.org/wiki/Q5154974"
  "name" .Site.Title
  "legalName" (.Site.Params.legalName)
  "url" (.Site.BaseURL | strings.TrimRight "/")
-}}
{{- with .Site.Params.description }}{{- $org = merge $org (dict "description" .) -}}{{- end -}}
{{- with .Site.Params.logo }}{{- $org = merge $org (dict "logo" (absURL .)) -}}{{- end -}}
{{- with .Site.Params.foundingDate }}{{- $org = merge $org (dict "foundingDate" .) -}}{{- end -}}
{{- with .Site.Params.slogan }}{{- $org = merge $org (dict "slogan" .) -}}{{- end -}}
{{- with .Site.Params.email }}{{- $org = merge $org (dict "email" .) -}}{{- end -}}
{{- with .Site.Params.phone }}{{- $org = merge $org (dict "telephone" .) -}}{{- end -}}

{{- with .Site.Params.companyNumber -}}
  {{- $identifier := dict 
      "@type" "PropertyValue" 
      "name" "Companies House Number" 
      "value" . 
      "url" (print "https://find-and-update.company-information.service.gov.uk/company/" .)
  -}}
  {{- $org = merge $org (dict "identifier" $identifier) -}}
{{- end -}}

{{- $org = merge $org (dict 
  "knowsAbout" (slice 
    
    (dict "@type" "Thing" "name" "Community Development" "sameAs" "https://www.wikidata.org/wiki/Q5154974")
  )
  
  "areaServed" (slice
    (dict "@type" "City" "name" "Ashford" "sameAs" "https://www.wikidata.org/wiki/Q725270")
    (dict "@type" "DefinedRegion" "addressCountry" "GB" "postalCodePrefix" "TW15")
  )
) -}}

{{- if $sameAs -}}
  {{- $org = merge $org (dict "sameAs" $sameAs) -}}
{{- end -}}

{{- with .Site.Params.email -}}
  {{- $contactPoint := dict
    "@type" "ContactPoint"
    "email" .
    "contactType" "Contact email"
  -}}
  {{- $org = merge $org (dict "contactPoint" $contactPoint) -}}
{{- end -}}

{{- $donateAction := dict
  "@type" "DonateAction"
  "recipient" (dict "@type" "Organization" "name" .Site.Title)
  "target" (print (.Site.BaseURL | strings.TrimRight "/") "/support/")
-}}
{{- $org = merge $org (dict "potentialAction" $donateAction) -}}

<script type="application/ld+json">{{ $org | jsonify | safeJS }}</script>