{{- $sameAs := slice -}}
{{- with .Site.Params.facebook }}{{- $sameAs = $sameAs | append . -}}{{- end -}}
{{- with .Site.Params.twitter }}{{- $sameAs = $sameAs | append . -}}{{- end -}}
{{- with .Site.Params.instagram }}{{- $sameAs = $sameAs | append . -}}{{- end -}}

{{- $org := dict
  "@context" "https://schema.org"
  "@type" "Organization"
  "name" .Site.Title
  "nonprofitStatus" "https://schema.org/UnincorporatedAssociationCharity"
  "url" (.Site.BaseURL | strings.TrimRight "/")
  "areaServed" (slice
    (dict "@type" "DefinedRegion" "addressCountry" "GB" "postalCodePrefix" "TW15")
    (dict "@type" "DefinedRegion" "addressCountry" "GB" "postalCodePrefix" "TW16")
  )
-}}
{{- with .Site.Params.logo -}}
  {{- $org = merge $org (dict "logo" (absURL .)) -}}
{{- end -}}
{{- if $sameAs -}}
  {{- $org = merge $org (dict "sameAs" $sameAs) -}}
{{- end -}}
<script type="application/ld+json">{{ $org | jsonify | safeJS }}</script>
