<script>
  (function() {
    const logo = `
 @@@@@@@@@@@@@@@@@@                                         
                                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                         
          
                             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                             
                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       
                    
                       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                       
                    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@               
      
                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                  
                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                
              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@             
  
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@            
           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@           
          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@          
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        
       @@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@ 
  @@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@       
      @@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@     @@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@      
     @@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@      @@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@     
    @@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@   
      @@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@    
    @@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@    
   @@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@          @@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@   
  @@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@    
         @@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@   
  @@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@             @@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@  
  @@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@              @@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@  
 @@@@@@@@@@@@@@@@@@@@@@        
 @@@@@@@@@@@               @@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@ 
 @@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@                @@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@ 
 @@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@        @         @@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@ 
 @@@@@@@@@@@@@@@@@@@@@@@  
        @@@@@@@@        @@        @@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@        @@@         @@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@        @@@@@        @@@@@         
 @@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@        @@@@@@        @@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@        @@@        @@@@@@@         @@         @@@@@@@@@@@@@@@@@@@@@@@@@@ 
 @@@@@@@@@@@@@@@@@@@@@@@@@@                  @@@@@@@@@           
        @@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 @@@@@@@@@@@@@@@@@@@@@@@@@@@                 @@@@@@@@@@                 @@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 @@@@@@@@@@@@@@@@@@@@@@@@@@@                @@@@@@@@@@@                @@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
  @@@@@@@@@@@@@@@@@@@@@@@@@@@               @@@@@@@@@@@@     
           @@@@@@@@@@@@@@@@@@@@@@@@@@@  
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@             @@@@@@@@@@@@@@             @@@@@@@@@@@@@@@@@@@@@@@@@@@@  
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@             @@@@@@@@@@@@@@             @@@@@@@@@@@@@@@@@@@@@@@@@@@@  
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@                         
              @@@@@@@@@@@@@@@@@@@@@@@@@@@@   
    @@@@@@@@@@@@@@@@@@@@@@@@@@@                                     @@@@@@@@@@@@@@@@@@@@@@@@@@@@    
    @@@@@@@@@@@@@@@@@@@@@@@@@@@                                   
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@    
     @@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@     
      @@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@      
       @@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@       
   
      @@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@        
          @@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@          
           @@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@  
          
             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@            
              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@              
                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                
      
             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                  
                    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                    
                       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       
                 
                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                          
                             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   
                           
                                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                  
      
                                    @@@@@@@@@@@@@@@@@@
    `;
    console.log("%c" + logo, "font-family: monospace; color: #ff5e00;");
  })();
</script>
