<div class="my-6 rounded-lg border-0 border-secondary p-6 flex justify-center items-center">
  <style>.pp-YDZUUJJL56REL{text-align:center;border:none;border-radius:0.25rem;min-width:11.625rem;padding:0 2rem;height:2.625rem;font-weight:bold;background-color:#FFD140;color:#000000;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1rem;line-height:1.25rem;cursor:pointer;}</style>
  <form class="grid justify-items-center content-start gap-2" action="https://www.paypal.com/ncp/payment/YDZUUJJL56REL" method="post" target="_blank">
    <input class="pp-YDZUUJJL56REL" type="submit" value="Sponsor a Poppy">
    <img decoding="async" class="m-0" src="https://www.paypalobjects.com/images/Debit_Credit_APM.svg" alt="cards">
    <section class="text-fine flex items-center gap-1">Powered by <img decoding="async" class="h-3.5" src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal"></section>
  </form>
</div>
