<div class="my-6 rounded-lg border border-secondary/30 bg-secondary/10 p-6 flex justify-center items-center">
  <form action="https://www.paypal.com/donate" method="post" target="_top" class="flex flex-col items-center">
    <input type="hidden" name="hosted_button_id" value="4HS94U2DZB5JN">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
  </form>
</div>
