<ul>
{{- range .Site.Data.team }}
  <li>
    <strong>{{ .name }}</strong> &mdash; {{ .role }}
    {{- if or .linkedin .instagram }}
    <span class="team-socials">
      {{- if .linkedin }}
        <a href="{{ .linkedin }}" rel="noopener noreferrer" target="_blank" aria-label="{{ .name }} on LinkedIn">
          {{- partial "icons/linkedin.html" . -}}
        </a>
      {{- end }}
      {{- if .instagram }}
        <a href="{{ .instagram }}" rel="noopener noreferrer" target="_blank" aria-label="{{ .name }} on Instagram">
          {{- partial "icons/instagram.html" . -}}
        </a>
      {{- end }}
      {{- if .facebook }}
        <a href="{{ .facebook }}" rel="noopener noreferrer" target="_blank" aria-label="{{ .name }} on Facebook">
          {{- partial "icons/facebook.html" . -}}
        </a>
      {{- end }}
      {{- if .twitter }}
        <a href="{{ .twitter }}" rel="noopener noreferrer" target="_blank" aria-label="{{ .name }} on twitter">
          {{- partial "icons/twitter.html" . -}}
        </a>
      {{- end }}
    </span>
    {{- end }}
  </li>
{{- end }}
</ul>
